@font-face {
    font-family: cinemasunday;
    src: url(resources/fonts/Cinema-Sunday-Font/CinemasundaydemofontRegular-MVzop.otf);
}

#page_container {
    width: 1100px;
    padding: 0;
    margin: 0 auto;
}

#logo img{
    padding-top: 7px;
    padding-left: 25px;
    position: fixed;
    width: 110px;
}

#logo img:hover {
    scale: 105%;
}

nav {
    height: 90px;
    background-color: #8DA7BE;
    text-decoration: none;
    font-family: cinemasunday;

}

ul {
    width: 1100px;
    display: inline-block;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding-top: 31px;
    padding-left: 110px;
}

li {
    display: inline-block;
    padding-right: 110px;
    
}

li a {
    color: rgba(0, 0, 0, 0.7);
    height: 60px;
    font-family: cinemasunday;
    text-decoration: none;
    font-size: 16pt;
    background-color: #F2E6D6;
    padding: 2px 15px 3px 15px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
}

li a:hover {
    color: #084b86;
    text-decoration: 1px underline;
    text-underline-offset: 2px;
}

#current {
    text-underline-offset: 2px;
    text-decoration: 1px underline;
}