@font-face {
    font-family: cinemasunday;
    src: url(resources/fonts/Cinema-Sunday-Font/CinemasundaydemofontRegular-MVzop.otf);
}

/* Styling page container */
#page_container {
    width: 1300px;
    height: auto;
    padding: 0;
    margin: 0 auto;
    background-color: #F2E6D6;
}

/* Styling logo in nav bar */
#logo{
    float: left;
    margin-top: 8px;
    margin-left: 30px;
    width: 110px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
    border-radius: 15px;
}

/* Styling logo hover effect */
#logo:hover {
    scale: 105%;
}

/* Styling header */
header {
    border-bottom: #F2E6D6;
}

/* Styling nav bar */
nav {
    height: 100px;
    background-color: #8DA7BE;
    text-decoration: none;
    font-family: cinemasunday;
}

/* Styling nav bar buttons as ul */
nav ul {
    display: inline-block;
    list-style-type: none;
    padding-top: 17px;
}

/* Styling nav bar buttons as li */
nav li {
    display: inline-block;
    padding-left: 90px;
    padding-right: 30px;
}

/* Styling nav bar buttons as li a */
nav li a {
    color: rgba(0, 0, 0, 0.7);
    height: 60px;
    text-decoration: none;
    font-size: 22pt;
    background-color: #F2E6D6;
    padding: 3px 16px 5px 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the hover effect of the nav bar buttons */
nav li a:hover {
    text-decoration: 2px underline;
    text-underline-offset: 4px;
}

/* Styling the nav bar button related to what page the user is on */
#current {
    color: rgba(0, 0, 0, 1);
    text-underline-offset: 4px;
    text-decoration: 2px underline;
}

/* Styling the banner image div */
#banner_img {
    background-color: #8DA7BE;
    margin-top: 5px;
    height: 590px;
    position: relative;
}

/* Styling the banner image header */
#banner_home_h1 {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 80pt;
    padding-left: 265px;
    padding-top: 80px;
    text-decoration: underline 3px;
    text-underline-offset: 40px;
}

/* Styling the banner image sub heading */
#banner_home_p {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 32pt;
    font-weight: bold;
    padding-left: 357px;
    padding-top: 270px;
}

/* Styling the banner image heading for Western page */
#banner_western_h1 {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 80pt;
    padding-left: 325px;
    padding-top: 120px;
    text-decoration: underline 3px;
    text-underline-offset: 20px;
}

/* Styling the banner image heading for the Eastern page */
#banner_eastern_h1 {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 80pt;
    padding-left: 348px;
    padding-top: 120px;
    text-decoration: underline 3px;
    text-underline-offset: 20px;
}

/* Styling the banner image heading for the About Us page */
#banner_aboutus_h1 {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 80pt;
    padding-left: 425px;
    padding-top: 120px;
    text-decoration: underline 3px;
    text-underline-offset: 20px;
}

/* Styling the banner image image */
#banner_img img {
    object-fit: cover;
    width: 1300px;
    height: 530px;
    margin-top: 30px;
    margin-left: 0px;
    border-radius: 0px;
    filter: brightness(65%);
}

/*Styling Index*/

#home {
    height: 900px;
    position: relative;
    z-index: 1;
}

/* Styling the western section of home page */
#home_western {
    display: flex;
}

/* Styling the western section's image */
#home_western img {
    position: relative;
    margin-top: 70px;
    margin-left: 50px;
    width: 500px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
    height: 320px;
}

/* Styling the text in the western section */
#western_txt {
    font-size: 20pt;
    text-align: center;
    width: 565px;
    margin-left: 42px;
    height: 0px;
    margin-top: 70px;
    color: #F2E6D6;
    background-color: #7999B5;
    padding: 24px 50px 296px 50px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the Explore Western button as li */
#home_western li {
    position: relative;
    list-style-type: none;
    font-size: 15pt;
    margin-top: -20px;
    margin-left: 193px;
}

/* Styling the Explore Western button as li a */
#home_western li a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-size: 20pt;
    background-color: #DDCEBA;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}


/* Styling the Explore Western buttons hover effect */
#home_western li a:hover {
    text-decoration: underline;
}

/* Styling the Eastern image in the Easterns section of the homepage */
#eastern_img img {
    position: relative;
    margin-top: 106px;
    margin-left: 750px;
    width: 500px;
    height: 320px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the text in the Eastern section */
#eastern_text {
    font-size: 20pt;
    text-align: center;
    width: 565px;
    margin-top: -334px;
    margin-left: 46px;
    height: 0px;
    color: #F2E6D6;
    background-color: #7999B5;
    padding: 24px 50px 296px 50px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the Explore Eastern as a li */
#home_eastern li {
    position: relative;
    list-style-type: none;
    font-size: 15pt;
    margin-top: -20px;
    margin-left: 900px;
}

/* Styling the Explore Eastern as a li a */
#home_eastern li a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-size: 20pt;
    background-color: #DDCEBA;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the Explore Eastern buttons hover effect */
#home_eastern li a:hover {
    text-decoration: underline;
}

/* Styling the gray background stripes */
#hr_1 {
    border: none;
    transform: rotate(90deg);
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 900px;
    position: absolute;
    bottom: 292px;
    left: -150px;
    z-index: -1;
}

/* Styling the gray background stripes */
#hr_2 {
    border: rgba(0, 0, 0, 0);
    border-style: 0px;
    transform: rotate(90deg);
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 900px;
    position: absolute;
    bottom: 292px;
    left: 550px;
    z-index: -1;
}

/* Styling the gray background stripes */
#hr_3 {
    border: rgba(0, 0, 0, 0);
    border-style: 0px;
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 1300px;
    position: relative;
    top: -760px;
    z-index: -1;
}

/* Styling the gray background stripes */
#hr_4 {
    border: rgba(0, 0, 0, 0);
    border-style: 0px;
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 1300px;
    position: relative;
    top: -625px;
    z-index: -1;
}

/*Styling Western Page*/

#western {
    height: 2140px;
    position: relative;
}

/* Styling the country's headers excluding Middle East */
#country {
    text-align: center; 
    margin-left: 525px;
    margin-top: 70px;
    color: rgba(0, 0, 0, 0.7);
    width: 200px;
    font-size: 35pt;
    background-color: #CDE6F5;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the swiper slides */
.swiper {
    width: 1100px;
    height: 500px;
    background-color: #7999B5;
    border-radius: 20px;
    margin-top: 70px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the images in the swiper slides */
.swiper-slide img {
    position: absolute;
    width: 450px;
    height: 375px;
    border-radius: 20px;
    top: 62.5px;
    left: 65px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
    z-index: -1;
}

/* Styling the paragraphs in teh swiper slides */
.swiper-slide p {
    text-align: center;
    font-size: 17pt;
    color: #F2E6D6;
    width: 420px;
    margin-left: 600px;
    margin-top: -35px;
}

/* Styling the hover effect for the images */
.swiper-slide img:hover {
    scale: 102%;
}

/* Styling the hover effect for the Explore the Recipe button */
.swiper-slide li a:hover {
    text-decoration: underline;
}

/* Styling the back arrow */
.swiper-button-prev {
    margin-left: 6px;
}

/* Styling the forward arrow */
.swiper-button-next {
    margin-right: 6px;
}

/* Styling the colour of the back arrow */
.swiper-button-prev::after {
    color: rgba(0, 0, 0, 0.7);
}

  /* Styling the colour of the forward arrow */
.swiper-button-next::after {
    color: rgba(0, 0, 0, 0.7);
}

/* Styling the hover effect for the back arrow */
.swiper-button-prev:hover{
    scale: 120%;
}

/* Styling the hover effect for the forward arrow */
.swiper-button-next:hover {
    scale: 120%;
}

/* Styling the pancakes header */
.pancakes_h1 {
    color: #F2E6D6;
    margin-left: 670px;
    font-size: 50pt;
}

/* Styling the burgers header */
.burgers_h1 {
    color: #F2E6D6;
    margin-left: 687px;
    font-size: 50pt;
}

/* Styling the hot dogs header */
.hotdogs_h1 {
    color: #F2E6D6;
    margin-left: 680px;
    font-size: 50pt;
}

/* Styling the Explore the Recipe button as a li */
.swiper-slide li {
    position: absolute;
    list-style-type: none;
    font-size: 15pt;
    bottom: 49px;
    left: 164px;
}

/* Styling the Explore the Recipe button as a li a */
.swiper-slide li a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-size: 20pt;
    background-color: #DDCEBA;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/*Styling Italian*/

.swiper_2 {
    margin-top: 70px;
}

/* Styling the pizza header */
.pizza_h1 {
    color: #F2E6D6;
    margin-left: 720px;
    font-size: 50pt;
}

/* Styling the pasta header */
.pasta_h1 {
    color: #F2E6D6;
    margin-left: 715px;
    font-size: 50pt;
}

/* Styling the gelato header */
.gelato_h1 {
    color: #F2E6D6;
    margin-left: 702px;
    font-size: 50pt;
}

/*Styling French*/

.swiper_3 {
    margin-top: 70px;
}

/* Styling the croissant header */
.croissant_h1 {
    color: #F2E6D6;
    margin-left: 663px;
    font-size: 50pt;
}

/* Stying the ratataouille header */
.ratatouille_h1 {
    color: #F2E6D6;
    margin-left: 650px;
    font-size: 50pt;
}

/* Styling the macarons header */
.macarons_h1 {
    color: #F2E6D6;
    margin-left: 665px;
    font-size: 50pt;
}

/* Stytling the gray background stripes */
#hr_5 {
    display: flex;
    border: none;
    transform: rotate(90deg);
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 2210px;
    position: absolute;
    top: 877px;
    right: -130px;  
    z-index: 0;
}

/* Stytling the gray background stripes */
#hr_6 {
    display: flex;
    border: none;
    transform: rotate(90deg);
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 2210px;
    position: absolute;
    top: 877px;
    left: -120px;  
    z-index: 0;
}

/* Stytling the gray background stripes */
#hr_7 {
    display: flex;
    border: none;
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 1300px;
    position: absolute;
    top: 235px; 
    z-index: 0;
}

/* Stytling the gray background stripes */
#hr_8 {
    display: flex;
    border: none;
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 1300px;
    position: absolute;
    top: 949px; 
    z-index: 0;
}

/* Stytling the gray background stripes */
#hr_9 {
    display: flex;
    border: none;
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 1300px;
    position: absolute;
    top: 1663px;  
    z-index: 0;
}

/*Styling Eastern Page*/

#eastern {
    height: 2140px;
    position: relative;
}

/* Styling the Middle East header */
#middle_east {
    text-align: center; 
    margin-left: 500px;
    margin-top: 70px;
    color: rgba(0, 0, 0, 0.7);
    width: 250px;
    font-size: 35pt;
    background-color: #CDE6F5;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the kebab header */
.kebab_h1 {
    color: #F2E6D6;
    margin-left: 708px;
    font-size: 50pt;
}

/* Styling the falafel header */
.falafel_h1 {
    color: #F2E6D6;
    margin-left: 700px;
    font-size: 50pt;
}

/* Styling the shakshuka header */
.shakshuka_h1 {
    color: #F2E6D6;
    margin-left: 645px;
    font-size: 50pt;
}

/*Styling China*/

/* Styling the hot pot header*/
.hotpot_h1 {
    color: #F2E6D6;
    margin-left: 690px;
    font-size: 50pt;
}

/* Styling the xiao long bao header */
.xiaolongbao_h1 {
    color: #F2E6D6;
    margin-left: 595px;
    font-size: 50pt;
}

/* Styling the fried rice header */
.friedrice_h1 {
    color: #F2E6D6;
    margin-left: 600px;
    font-size: 50pt;
}

/*Styling Japanese*/

/* Styling the ramen header */
.ramen_h1 {
    color: #F2E6D6;
    margin-left: 690px;
    font-size: 50pt;
}

/* Styling the sushi header */
.sushi_h1 {
    color: #F2E6D6;
    margin-left: 723px;
    font-size: 50pt;
}

/* Styling the katsu chicken header */
.katsu_chicken_h1 {
    color: #F2E6D6;
    margin-left: 597px;
    font-size: 50pt;
}

/*Styling About Us Page*/

#about_us {
    height: 1080px;
    position: relative;
    z-index: 1;
}

/* Styling the about us header on the banner image */
#about_us_h1 {
    font-size: 30pt;
    text-align: center;
    color: #F2E6D6;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Styling the first image of people cooking */
#peoplecooking {
    object-fit: cover;
    margin-top: 50px;
    margin-left: 50px;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the first about us paragraph: My passions */
#about_us_1 {
    font-size: 23pt;
    text-align: center;
    width: 590px;
    margin-top: -455px;
    margin-left: 560px;
    height: 0px;
    color: #F2E6D6;
    background-color: #7999B5;
    padding: 10px 50px 441px 50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the second image of people cooking */
#peoplecooking_2 {
    object-fit: cover;
    margin-top: 50px;
    margin-left: 50px;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the second about us paragraph: Target audience */
#about_us_2 {
    font-size: 23pt;
    text-align: center;
    width: 590px;
    margin-top: -455px;
    margin-left: 560px;
    height: 0px;
    color: #F2E6D6;
    background-color: #7999B5;
    padding: 12px 50px 439px 50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the gray background stripes */
#hr_10 {
    display: flex;
    border: none;
    transform: rotate(90deg);
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 1080px;
    right: 485px;
    bottom: 382px;
    position: absolute; 
    z-index: -1;
}

/* Styling the gray background stripes */
#hr_11 {
    display: flex;
    border: none;
    transform: rotate(90deg);
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 1080px;
    left: 485px;
    bottom: 382px;
    position: absolute; 
    z-index: -1;
}

/* Styling the gray background stripes */
#hr_12 {
    display: flex;
    border: none;
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 1300px;
    bottom: 647px;
    position: absolute; 
    z-index: -1;
}

/* Styling the gray background stripes */
#hr_13 {
    display: flex;
    border: none;
    height: 300px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 1300px;
    top: 647px;
    position: absolute; 
    z-index: -1;
}

/*Styling Footer*/

footer {
    height: 230px;
    background-color: #8DA7BE;
}

/* Styling the footer logo */
#footerlogo img{
    float: left;
    width: 200px;
    margin-top: 40px;
    margin-left: 70px;
    border-radius: 30px;
}

/* Styling the footer logo hover effect */
#footerlogo img:hover {
    scale: 105%;
}

/* Styling the footer navigation section */
#footer_nav {
    float: left;
    padding-left: 170px;
    padding-top: 30px;
}

/* Styling the footer navigation header */
#footer_nav h1 {
    color: #F2E6D6;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin: -5px;
}

/* Styling the footer navigation buttons as ul */
#footer_nav ul {
    list-style-type: none;
    font-size: 15pt;
    text-align: center;
    display: inline;
}

/* Styling the footer navigation buttons as li */
#footer_nav li {
    padding-bottom: 10px;
}

/* Styling the footer navigation buttons as li a */
#footer_nav li a {
    color: #F2E6D6;
    font-family: cinemasunday;
    text-decoration: none;
}

/* Styling the footer navigation buttons hover effect */
#footer_nav li a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

/* Styling the footer contact section */
#contact {
    float: left;
    padding-left: 220px;
    padding-top: 30px;
    text-align: center;
}

/* Styling the footer contact header */
#contact h1 {
    color: #F2E6D6;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin: -5px;
}

/* Styling the footer contact buttons as ul */
#contact ul {
    list-style-type: none;
    display: inline;
    text-align: center;
    font-size: 15pt;
}

/* Styling the footer contact buttons as li */
#contact li {
    padding-top: 0px;
    padding-bottom: 23px;
}

/* Styling the footer contact buttons as li a */
#contact li a {
    color: #F2E6D6;
    font-family: cinemasunday;
    text-decoration: none;
}

/* Styling the footer contact social media icons */
#contact img {
    width: 25px;
    padding-top: 3px;
}

/* Styling the footer contact buttons hover effect */
#contact li a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}