@font-face {
    font-family: cinemasunday;
    src: url(resources/fonts/Cinema-Sunday-Font/CinemasundaydemofontRegular-MVzop.otf);
}

/* Styling page container */
#page_container {
    width: 1300px;
    height: auto;
    padding: 0;
    margin: 0 auto;
    background-color: #F2E6D6;
}

/* Styling logo in nav bar */
#logo{
    float: left;
    margin-top: 8px;
    margin-left: 30px;
    width: 110px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
    border-radius: 15px;
}

/* Styling logo hover effect */
#logo:hover {
    scale: 105%;
}

/* Styling header */
header {
    border-bottom: #F2E6D6;
}

/* Styling nav bar */
nav {
    height: 100px;
    background-color: #8DA7BE;
    text-decoration: none;
    font-family: cinemasunday;
}

/* Styling nav bar buttons as ul */
nav ul {
    display: inline-block;
    list-style-type: none;
    padding-top: 17px;
}

/* Styling nav bar buttons as li */
nav li {
    display: inline-block;
    padding-left: 90px;
    padding-right: 30px;
}

/* Styling nav bar buttons as li a */
nav li a {
    color: rgba(0, 0, 0, 0.7);
    height: 60px;
    text-decoration: none;
    font-size: 22pt;
    background-color: #F2E6D6;
    padding: 3px 16px 5px 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

/* Styling the hover effect of the nav bar buttons */
nav li a:hover {
    text-decoration: 2px underline;
    text-underline-offset: 4px;
}

/* Styling the nav bar button related to what page the user is on */
#current {
    color: rgba(0, 0, 0, 1);
    text-underline-offset: 4px;
    text-decoration: 2px underline;
}

/* Styling the banner image div */
#banner_img {
    background-color: #8DA7BE;
    margin-top: 5px;
    height: 590px;
    position: relative;
}

/* Styling the banner image header */
#banner_home_h1 {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 80pt;
    padding-left: 265px;
    padding-top: 80px;
    text-decoration: underline 3px;
    text-underline-offset: 40px;
}

/* Styling the banner image sub heading */
#banner_home_p {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 32pt;
    font-weight: bold;
    padding-left: 357px;
    padding-top: 270px;
}

/* Styling the banner image image */
#banner_img img {
    object-fit: cover;
    width: 1300px;
    height: 530px;
    margin-top: 30px;
    margin-left: 0px;
    border-radius: 0px;
    filter: brightness(65%);
}

/*Styling Index*/

#home {
    height: 100px;
}

/*Styling Footer*/

footer {
    height: 230px;
    background-color: #8DA7BE;
}

/* Styling the footer logo */
#footerlogo img{
    float: left;
    width: 200px;
    margin-top: 40px;
    margin-left: 70px;
    border-radius: 30px;
}

/* Styling the footer logo hover effect */
#footerlogo img:hover {
    scale: 105%;
}

/* Styling the footer navigation section */
#footer_nav {
    float: left;
    padding-left: 170px;
    padding-top: 30px;
}

/* Styling the footer navigation header */
#footer_nav h1 {
    color: #F2E6D6;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin: -5px;
}

/* Styling the footer navigation buttons as ul */
#footer_nav ul {
    list-style-type: none;
    font-size: 15pt;
    text-align: center;
    display: inline;
}

/* Styling the footer navigation buttons as li */
#footer_nav li {
    padding-bottom: 10px;
}

/* Styling the footer navigation buttons as li a */
#footer_nav li a {
    color: #F2E6D6;
    font-family: cinemasunday;
    text-decoration: none;
}

/* Styling the footer navigation buttons hover effect */
#footer_nav li a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

/* Styling the footer contact section */
#contact {
    float: left;
    padding-left: 220px;
    padding-top: 30px;
    text-align: center;
}

/* Styling the footer contact header */
#contact h1 {
    color: #F2E6D6;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin: -5px;
}

/* Styling the footer contact buttons as ul */
#contact ul {
    list-style-type: none;
    display: inline;
    text-align: center;
    font-size: 15pt;
}

/* Styling the footer contact buttons as li */
#contact li {
    padding-top: 0px;
    padding-bottom: 23px;
}

/* Styling the footer contact buttons as li a */
#contact li a {
    color: #F2E6D6;
    font-family: cinemasunday;
    text-decoration: none;
}

/* Styling the footer contact social media icons */
#contact img {
    width: 25px;
    padding-top: 3px;
}

/* Styling the footer contact buttons hover effect */
#contact li a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}